$table-border: #ededed

@import "./fonts/awesome"
@import "font-awesome"
@import "bulma"
@import "./mixins/transforms"

#popups
  z-index: 10
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 0

#main
  z-index: 1
  padding: 2rem 0 1.5rem

@for $i from 1 through 10
  $size-class: $i * 10
  $size-value: 0.5 + ($i * 0.5)

  .margin-top-#{$size-class}
    margin-top: $size-value + unquote("rem")

  .margin-bottom-#{$size-class}
    margin-bottom: $size-value + unquote("rem")

  .margin-left-#{$size-class}
    margin-left: $size-value + unquote("rem")

  .margin-right-#{$size-class}
    margin-right: $size-value + unquote("rem")

  .fs-#{$size-class},
  .fs-#{$size-class}:after,
  .fs-#{$size-class}:before
    font-size: $size-value + unquote("rem")

.hoctable__select-toggle
  @extend .button

.float-left
  float: left

.float-right
  float: right

.pointer
  cursor: pointer

.is-paddingless-tb
  padding-top: 0
  padding-bottom: 0

.is-paddingless-lr
  padding-left: 0
  padding-right: 0

.hoctable__select,
.hoctable__multiselect,
.hoctable__search-popup
  @extend .box
  @extend .menu-list
  padding: 0
  max-height: 240px
  overflow-y: auto

.hoctable__search-selection-control
  @extend .button
  @extend .pointer
  @extend .margin-left-10

.hoctable__search-selection-clear-icon
  @extend .fa-close
  @extend .fa
  @extend .is-paddingless

.hoctable__select-option,
.hoctable__multiselect-item,
.hoctable-search-results-item,
.hoctable__select-option--loading
  padding: 0.4rem 0.6rem

.hoctable__search
  @extend .clearfix
  position: relative

.hoctable__search-input-container
  overflow: hidden
  display: block
  height: auto

.hoctable__search-controls
  @extend .float-right

.hoctable__search-results-placeholder
  +translate(0, 5px)
  position: absolute
  bottom: 0
  left: 0

.hoctable__multiselect-item
  @extend .is-clearfix
  @extend .is-flex
  align-items: center

.hoctable__multiselect-item-text
  @extend .margin-left-10

.hoctable__multiselect-search
  padding: 0.5rem 0.6rem

.hoctable__action-menu
  display: inline-block

.hoctable__select-option,
.hoctable-search-results-item
  @extend .pointer
  @extend .button.is-white

body, html
  position: relative
  min-width: 100%
  min-height: 100%

.clearfix
  @extend .is-clearfix

.hoctable__table
  position: relative
  padding-bottom: 2rem

table
  @extend .table

input[type="text"]
  @extend .input

.hoctable__table table
  @extend .is-bordered
  @extend .is-striped
  table-layout: fixed
  width: 100%

.hoctable__table-pagination
  position: absolute
  bottom: 0
  right: 0

.hoctable__table-pagination .hoctable__pagination
  @extend .level

.hoctable__table .hoctable__pagination-controls
  @extend .clearfix
  margin-left: 1rem
  
.hoctable__table .hoctable__pagination-next,
.hoctable__table .hoctable__pagination-previous
  @extend .button
  float: left

.hoctable__table .hoctable__pagination-next + .hoctable__pagination-previous,
.hoctable__table .hoctable__pagination-previous + .hoctable__pagination-next
  margin-left: 1rem

