doctype html
- var base = process.env['ROUTING_BASE'] || "/hoctable/"
html(style="background-color: white; min-height: 100%; position: relative;")
  head
    meta(charset="utf-8")
    title hoctable
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" type="text/css" rel="stylesheet")
    link(href="./css/main.css" type="text/css" rel="stylesheet")
  body(style="background-color: white; min-height: 100%; position: relative;")
    #popups
    #main
    script(src="https://unpkg.com/react@15.3.1/dist/react.min.js")
    script(src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qwest/4.4.5/qwest.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.min.js")
    script(src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js" type="text/javascript")
    script(src="./js/app.min.js" type="text/javascript")
    script(type="text/javascript").
      (function() { 
        function start(app) {
          app.start();
        }

        window.ENV = {
          routing: {
            baseUrl: "#{base}",
          }
        };

        define("react", [], function() { return window.React; });
        define("react-dom", [], function() { return window.ReactDOM; });

        require(["example/ghp/js/app"], start);
      })();
